* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgray;
}

#navBar {
    display: flex;
    padding: 2px;
    align-content: center;
    font-size: 19px;
    align-self: start;
    margin: 2px;
    justify-content: center;
}

.navBar {
    background-color: azure;
    color: blanchedalmond;
    position: relative;
    justify-content: center;
}

.navBar:hover {
    color: aqua;
}

canvas {
    border: 1px solid #ccc;
    background-color: white;
}

#toolbar {
    display: flex;
    gap: 10;
    margin-bottom: 10px;
    background-color: rgb(140, 157, 176);
    padding: 10px;
    border-radius: 5px;
    align-items: center;
}

button {
    padding: 5px 10px;
    font-size: 17px;
    border-color: rgb(78, 168, 171);
    align-content: center;
    color: red;
    background-color: rgb(22, 22, 22);
}

input[type="color"] {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}